async-generator
attrs
beautifulsoup4
certifi
charset-normalizer
exceptiongroup
h11
idna
outcome
PySocks
requests
selenium
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
urllib3
wsproto
tldextract
python-environ
certifi
